{% extends 'bookingapp/allbooking.html'%}
{% csrf_token %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">  
    <ol class="breadcrumb">
      <li class="breadcrumd-item font-weight-bold">
        <div class="container">
          <a href="{% url 'Buildings' %}" > All Building
               </a> 
       </div>
      </li>
    </ol>
      <form  action="addbuilding.html" method="post">
         <center></center>
         <br /><br />
              {% csrf_token %}
              {{ form | crispy }}
              <input type="submit" value="Add building">
          </center>
      </form>
  </div>
</div>
</div><br /><br /><br />

<hr/>
 <div class="container">
     <a href="{% url 'add_building' %}" class="btn btn-danger">
         Add New building
     </a>

 </div>

{% endblock %}