{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <link rel="stylesheet" href="{% static 'bookingapp/CSS/bootstrap.min.css' %}">

</head>
<body>
    <div>
        <div id="header">
            <a href="index.aspx"><img class="headerimg" src="{% static 'pics/R.jpg' %}" /></a>
            <div class="headerp">Outpatient Clinics</div><br /><br /><br />
            <ul>
                <li>
                    <a  href="index.html">home</a>
                </li>
                <li>
                    <a href="makeV.html">Booking</a>
                </li>
                <li>
                    <a href="Doctors.html">Doctors</a>
                </li>
                <li>
                    <a href="Clinics.html">Clinics</a>
                </li>
                <li>
                    <a href="Buildings.html">Buildings</a>
                </li>
                <li>
                    <a style="color:black ;" href="allbooking.html">All Bookings</a>
                </li>
                <li>
                    <a style="color:black ;" href="adddoctor.html">Add doctor</a>
                </li>
                <li>
                    <a style="color:black ;" href="addbuilding.html">Add Building</a>
                </li>
                <li>
                    <a style="color:black ;" href="addclinic.html">Add Clinic</a>
                </li>

            </ul>
        </div>
        <div class="container">  
            <ol class="breadcrumb">
              <li class="breadcrumd-item font-weight-bold">
                <div class="container">
                  <a href="{% url 'Clinics' %}" > All clinics
                       </a> 
               </div>
              </li>
            </ol>
                        <center>
                            <div class="container ">
                                <div class="row">

                             {% for dept in clinic.all  %}    
                                    <div class="col-sm-4">
                                      <h4> Clinic Name: {{dept.information}}  </h4>
                                      <hr class="my-1">
                                      <h6> Doctor Name : {{dept.doctor_name}} </h6>
                                      <h6> Number Of Bulding : {{dept.num_of_bulding}} </h6>
                                     </div>
                             {% endfor %}
                                 </div>
                         
                          </div>
                        </center>              
    <div id="footer">
        <div>
            <p>
                <span>Banisuef University Hospital </span>
            </p>
        </div>
    </div>
</body>
</html>