{% load static %}
{% csrf_token %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <link rel="stylesheet" href="{% static 'bookingapp/CSS/bootstrap.min.css' %}">
    

</head>
<body>
    <div>
        <div id="header">
            <a href="index.html"><img class="headerimg" src="{% static 'pics/R.jpg' %}" /></a>
            <div class="headerp">Outpatient Clinics</div><br /><br /><br />
            <ul>
                <li>
                    <a  href="index.html">home</a>
                </li>
                <li>
                    <a href="makeV.html">Booking</a>
                </li>
                <li>
                    <a href="Doctors.html">Doctors</a>
                </li>
                <li>
                    <a href="Clinics.html">Clinics</a>
                </li>
                <li>
                    <a href="Buildings.html">Buildings</a>
                </li>
                <li>
                    <a style="color:black ;" href="allbooking.html">All Bookings</a>
                </li>
                <li>
                    <a style="color:black ;" href="adddoctor.html">Add doctor</a>
                </li>
                <li>
                    <a style="color:black ;" href="addbuilding.html">Add Building</a>
                </li>
                <li>
                    <a style="color:black ;" href="addclinic.html">Add Clinic</a>
                </li>

            </ul>

        </div>
    </div>
   
   
         {% block content %}
            <div class="container">  
              <ol class="breadcrumb">
                <li class="breadcrumd-item font-weight-bold">
                  <div class="container">
                    <a href="{% url 'list_all_booking' %}" > All Booking
                         </a> 
                 </div>
                </li>
              </ol>
                <form  action="/newbooking" method="post">
                   <center></center>
                   <br /><br />
                        {% csrf_token %}
                        {{ form | crispy }}
                        
                       
                        <input type="submit" value="Add New Booking">
                    </center>
                </form>
            </div>
          {% endblock %}  
        </div>
    </div><br /><br /><br />


    <div id="footer">
        <div>
            <p>
                <span>Banisuef University Hospital </span>
            </p>
        </div>
    </div>
</body>
</html>